node_modules

#Secrets
.env
.env.*

*.log
logs/

.DS_Store
Thumbs.db

.git
.gitignore

.vscode
.idea
*.swp

.husky

#Keys
.certs

__tests__/
tests/
*.test.js
*.spec.js
jest.config.js
vitest.config.js
coverage/
.nyc_output/
dist/
build/
out/

.npm/
.cache/        
.eslintcache   
.tsbuildinfo  
.yarn/cache
.pnp.*

# .gitignore
.scannerwork/