openapi: 3.1.0
info:
  title: Mi API
  version: 1.0.0
  description: API de ejemplo para TicketFlow
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema

servers:
  - url: http://localhost:6970
    description: Desarrollo

security:
  - bearerAuth: []

paths:
  /v1/login:
    $ref: "./paths/auth-login.yaml"
  /v1/company/:companyId/events:
    $ref: "./paths/company-events.yaml"
  /v1/events/new:
    $ref: "./paths/events-create.yaml"
  /v1/events/events/search:
    $ref: "./paths/events-search.yaml"
  /v1/events/edit/:eventId:
    $ref: "./paths/events-edit.yaml"
  /v1/location/search/all:
    $ref: "./paths/location-search-all.yaml"
  /v1/organizer/edit:
    $ref: "./paths/organizer-update.yaml"
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    LoginRequest:
      $ref: "./schemas/auth.yaml#/LoginRequest"
    LoginResponse:
      $ref: "./schemas/auth.yaml#/LoginResponse"
    Error:
      $ref: "./schemas/common.yaml#/Error"
    Event: { $ref: "./schemas/event.yaml#/Event" }
    EventCreateRequest: { $ref: "./schemas/event.yaml#/EventCreateRequest" }
    EventListResponse: { $ref: "./schemas/event.yaml#/EventListResponse" }
    EventLocation:
      $ref: "./schemas/eventLocation.yaml#/EventLocation"
    UpdateOrganizerRequest: { $ref: "./schemas/organizer.yaml#/UpdateOrganizerRequest" }
    UpdateOrganizerResponse: { $ref: "./schemas/organizer.yaml#/UpdateOrganizerResponse" }