openapi: 3.1.0
info:
  title: Mi API
  version: 1.0.0
  description: API de ejemplo para TicketFlow
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema

servers:
  - url: http://localhost:6970
    description: Desarrollo

security:
  - bearerAuth: []

paths:
  /v1/auth/password/forgot:
    $ref: "./paths/auth-password-forgot.yaml"
  /v1/auth/password/reset/validate:
    $ref: "./paths/auth-password-reset-validate.yaml"
  /v1/auth/password/reset:
    $ref: "./paths/auth-password-reset.yaml"
  /v1/login:
    $ref: "./paths/auth-login.yaml"
  /v1/user/register:
    $ref: "./paths/auth-register.yaml"
  /v1/company/:companyId/events:
    $ref: "./paths/company-events.yaml"
  /v1/events/new:
    $ref: "./paths/events-create.yaml"
  /v1/events/events/search:
    $ref: "./paths/events-search.yaml"
  /v1/events/edit/:eventId:
    $ref: "./paths/events-edit.yaml"
  /v1/event/img/:eventId/new:
    $ref: "./paths/event-upload-image.yaml"
  /v1/event/img/:eventId/images:
    $ref: "./paths/event-img-getall-by-id.yaml"
  /v1/eventseats/with-event:
    $ref: "./paths/eventseats-with-event.yaml"
  /v1/location/search/all:
    $ref: "./paths/location-search-all.yaml"
  /v1/location/:eventLocationId/layout:
    $ref: "./paths/location-layout.yaml"
  /v1/organizer/edit:
    $ref: "./paths/organizer-update.yaml"
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    LoginRequest:
      $ref: "./schemas/auth.yaml#/LoginRequest"
    LoginResponse:
      $ref: "./schemas/auth.yaml#/LoginResponse"
    Error:
      $ref: "./schemas/common.yaml#/Error"

    Event:
      $ref: "./schemas/event.yaml#/Event"
    EventCreateRequest:
      $ref: "./schemas/event.yaml#/EventCreateRequest"
    EventListResponse:
      $ref: "./schemas/event.yaml#/EventListResponse"

    EventLocation:
      $ref: "./schemas/eventLocation.yaml#/EventLocation"

    UpdateOrganizerRequest:
      $ref: "./schemas/organizer.yaml#/UpdateOrganizerRequest"
    UpdateOrganizerResponse:
      $ref: "./schemas/organizer.yaml#/UpdateOrganizerResponse"

    EventLocationFullLayoutResponse:
      $ref: "./schemas/eventLocation.layout.yaml#/EventLocationFullLayoutResponse"
    EventLocationAddress:
      $ref: "./schemas/eventLocation.layout.yaml#/EventLocationAddress"
    EventLocationSection:
      $ref: "./schemas/eventLocation.layout.yaml#/EventLocationSection"
    EventLocationSeat:
      $ref: "./schemas/eventLocation.layout.yaml#/EventLocationSeat"

    EventWithInventoryCreateRequest:
      $ref: "./schemas/eventseats.yaml#/EventWithInventoryCreateRequest"
    EventWithInventoryCreateResponse:
      $ref: "./schemas/eventseats.yaml#/EventWithInventoryCreateResponse"
    EventPayload:
      $ref: "./schemas/eventseats.yaml#/EventPayload"
    InventoryItem:
      $ref: "./schemas/eventseats.yaml#/InventoryItem"
    InventoryCreatedItem:
      $ref: "./schemas/eventseats.yaml#/InventoryCreatedItem"
    Counts:
      $ref: "./schemas/eventseats.yaml#/Counts"

    RegisterRequest:
      $ref: "./schemas/authRegister.yaml#/RegisterRequest"
    RegisterEnvelope:
      $ref: "./schemas/authRegister.yaml#/RegisterEnvelope"
    RegisterResult:
      $ref: "./schemas/authRegister.yaml#/RegisterResult"

    EventImageUploadResponse:
      $ref: "./schemas/event-image.yaml#/EventImageUploadResponse"

    PasswordForgotRequest:
      $ref: "./schemas/auth-password.yaml#/PasswordForgotRequest"